body {
    background-color: rgb(100, 100, 100);
}

* {
    font-size: 1.1em;
    font-family: Calibri;
    color: #fff;
} 

:root {
    --calendar-primary: rgb(75, 75, 75);
    --calendar-secondary: rgb(90, 90, 90);
    --calendar-borders: rgb(25, 25, 25);
}

.calendar_container {
    display: grid;
    grid-template-columns: 5;
}

.calendar_table_node {
    background-color: var(--calendar_primary);
    box-shadow: 0 0 0 0.4vw var(--calendar-borders);   
    overflow: hidden;
    border-radius: 5px;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 1%;
    grid-column: span 5;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
}

.calendar_day_cell {
    color: white;
}

.calendar_day_title_cell {
    color: white;
    padding: 1vw;
    /* width: 150px; */
}

.calendar_cell { 
    --cell-size: 100px;
    --height-multiplier: 0.5;
    width: var(--cell-size);
    height: calc(var(--cell-size) * var(--height-multiplier));
    text-align: center;
}

.change_month_button {
    color: #fff;
    width: 200px;
    margin: 0 auto;
    background-color: var(--calendar_primary);
    border: 0.3vw solid var(--calendar-borders);
    border-radius: 1000px;
}

.change_month_button:hover {
    background-color: var(--calendar-secondary);
}

.date_label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
}